doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Enrique Iglesias-Enrique
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Economica&family=Montserrat+Alternates:wght@100&family=PT+Mono&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Economica&family=Montserrat+Alternates:wght@100&family=PT+Mono&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Economica&family=Montserrat+Alternates:wght@100&family=PT+Mono&family=PT+Sans&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Economica&family=Montserrat+Alternates:wght@100&family=Open+Sans+Condensed:wght@300&family=PT+Mono&family=PT+Sans&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='/static/album9.css')
  link(rel="shortcut icon", href="/static/img/fav.jpg", type="image/x-icon")
.container
  .icons
    a(href='https://www.instagram.com/enriqueiglesias/')
      img#im1(src='/static/img/insta2.png' alt='')
    a(href='https://www.facebook.com/Enrique')
      img#im2(src='/static/img/fb.png' alt='')
    a(href='https://open.spotify.com/artist/7qG3b048QCHVRO5Pv1T5lw?si=8qklDBAsQcC9Q_jlnOvG7A&nd=1')
      img#im3(src='/static/img/sp2.png' alt='')
    a(href='https://music.apple.com/us/artist/enrique-iglesias/90895')
      img#im4(src='/static/img/app2.png' alt='')
    a(href='https://twitter.com/enriqueiglesias')
      img#im5(src='/static/img/tw.png' alt='')
    a(href='https://www.youtube.com/user/EnriqueIglesiasPlay')
      img#im6(src='/static/img/yt2.png' alt='')
  .h
    h1 ei
  .index
    a#s1(href='/')
      span
        | Home
    a#s2(href='/tour')
      span
        | Tour
    a#s3(href='/discography')
      span
        | Discography
    a#s4(href='/register')
      span
        | Register
  .tt
    h1#tt
      | 95/08 ÉXITOS (25 MARCH 2008)
    h2.listt TRACK LIST
  .content
    .ab
      p#ap
        | Enrique Iglesias: 95/08 &Eacute;xitos is a compilation album by Spanish singer songwriter Enrique Iglesias. Includes his seventeen number-one singles in the Billboard Hot Latin Tracks and two new songs, &quot;&iquest;D&oacute;nde Est&aacute;n Coraz&oacute;n?&quot; and &quot;Lloro Por Ti&quot;, both written
        | by Enrique Iglesias and Coti Sorokin. The album&apos;s two singles &quot;&iquest;D&oacute;nde Est&aacute;n Coraz&oacute;n?&quot; and &quot;Lloro Por T&iacute;&quot; became his 18th and 19th number one singles on the Hot Latin Songs, achieving more number ones than any other artist in the history
        | of the chart. The album is released in two formats, standard edition with twelve number-one singles, plus two new songs, and the deluxe edition with seventeen number-one singles, two new songs, a DVD with eight music videos and an
        | interview recorded during the worldwide tour Insomniac. On 6 May 2008 the RIAA certified the album Double Platino in the United States. It was also certified Platinum in Russia. 95/08 &Eacute;xitos won the Lo Nuestro Award for Pop Album of
        | the Year.
    .list
      h3.l Experiencia Religiosa
      h3.l Si T&uacute; Te Vas
      h3.l Por Amarte
      h3.l Enamorado Por Primera Vez
      h3.l S&oacute;lo En T&iacute;
      h3.l Nunca Te Olvidar&eacute;
      h3.l Bailamos
      h3.l Ritmo Total
      h3.l H&eacute;roe
      h3.l Mentiroso
      h3.l Quiz&aacute;s
      h3.l D&iacute;melo
      h3.l &iquest;D&oacute;nde Est&aacute;n Coraz&oacute;n?
      h3.l Lloro Por Ti
