doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Economica&family=Montserrat+Alternates:wght@100&family=PT+Mono&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Economica&family=Montserrat+Alternates:wght@100&family=PT+Mono&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Economica&family=Montserrat+Alternates:wght@100&family=PT+Mono&family=PT+Sans&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Economica&family=Montserrat+Alternates:wght@100&family=Open+Sans+Condensed:wght@300&family=PT+Mono&family=PT+Sans&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='/static/albums.css')
  link(rel="shortcut icon", href="/static/img/fav.jpg", type="image/x-icon")
  title Albums-Enrique
.container
  .icons
    a(href='https://www.instagram.com/enriqueiglesias/')
      img#im1(src='/static/img/insta2.png' alt='')
    a(href='https://www.facebook.com/Enrique')
      img#im2(src='/static/img/fb.png' alt='')
    a(href='https://open.spotify.com/artist/7qG3b048QCHVRO5Pv1T5lw?si=8qklDBAsQcC9Q_jlnOvG7A&nd=1')
      img#im3(src='/static/img/sp2.png' alt='')
    a(href='https://music.apple.com/us/artist/enrique-iglesias/90895')
      img#im4(src='/static/img/app2.png' alt='')
    a(href='https://twitter.com/enriqueiglesias')
      img#im5(src='/static/img/tw.png' alt='')
    a(href='https://www.youtube.com/user/EnriqueIglesiasPlay')
      img#im6(src='/static/img/yt2.png' alt='')
  .h
    h1 ei
  .index
    a#s1(href='/')
      span
        | Home
    a#s2(href='/tour')
      span
        | Tour
    a#s3(href='/discography')
      span
        | Discography
    a#s4(href='/register')
      span
        | Register
  .a1
    a.al(href='/album1')
      img.animclass(src='/static/img/ea1.jpg')
      #a1c1
        | Enrique Iglesias (1995)
    a.al(href='/album2')
      img.animclass(src='/static/img/ea2.png')
      #a1c2
        | Vivir (1997)
    a.al(href='/album3')
      img.animclass(src='/static/img/ea3.jpg')
      #a1c3
        | Cosas Del Amor (1998)
    a.al(href='/album4')
      img.animclass(src='/static/img/ea4.jpeg')
      #a1c4
        | Enrique (1999)
  .a2
    a.al(href='/album5')
      img.animclass(src='/static/img/ea5.jpg')
      #a2c1 Escape (2001)
    a.al(href='/album6')
      img.animclass(src='/static/img/ea6.jpg')
      #a2c2 Quizás (2002)
    a.al(href='/album7')
      img.animclass(src='/static/img/ea7.jpg')
      #a2c3 7 (2003)
    a.al(href='/album8')
      img.animclass(src='/static/img/ea8.jpg')
      #a2c4 Insomniac (2007)
  .a3
    a.al(href='/album9')
      img.animclass(src='/static/img/ea9.jpg')
      #a3c1 95/08 Éxitos (2008)
    a.al(href='/album10')
      img.animclass(src='/static/img/ea10.jpg')
      #a3c2 Euphoria (2010)
    a.al(href='/album11')
      img.animclass(src='/static/img/ea11.png')
      #a3c3 Sex and Love (2014)
    a.al(href='/album12')
      img.animclass(src='/static/img/ea12.jpg')
      #a3c4 Final (2021)
