doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Enrique Iglesias-Enrique
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Economica&family=Montserrat+Alternates:wght@100&family=PT+Mono&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Economica&family=Montserrat+Alternates:wght@100&family=PT+Mono&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Economica&family=Montserrat+Alternates:wght@100&family=PT+Mono&family=PT+Sans&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Economica&family=Montserrat+Alternates:wght@100&family=Open+Sans+Condensed:wght@300&family=PT+Mono&family=PT+Sans&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='/static/album11.css')
  link(rel="shortcut icon", href="/static/img/fav.jpg", type="image/x-icon")
.container
  .icons
    a(href='https://www.instagram.com/enriqueiglesias/')
      img#im1(src='/static/img/insta2.png' alt='')
    a(href='https://www.facebook.com/Enrique')
      img#im2(src='/static/img/fb.png' alt='')
    a(href='https://open.spotify.com/artist/7qG3b048QCHVRO5Pv1T5lw?si=8qklDBAsQcC9Q_jlnOvG7A&nd=1')
      img#im3(src='/static/img/sp2.png' alt='')
    a(href='https://music.apple.com/us/artist/enrique-iglesias/90895')
      img#im4(src='/static/img/app2.png' alt='')
    a(href='https://twitter.com/enriqueiglesias')
      img#im5(src='/static/img/tw.png' alt='')
    a(href='https://www.youtube.com/user/EnriqueIglesiasPlay')
      img#im6(src='/static/img/yt2.png' alt='')
  .h
    h1 ei
  .index
    a#s1(href='/')
      span
        | Home
    a#s2(href='/tour')
      span
        | Tour
    a#s3(href='/discography')
      span
        | Discography
    a#s4(href='/register')
      span
        | Register
  .tt
    h1#tt
      | SEX AND LOVE (18 MARCH 2014)
    h2.listt TRACK LIST
  .content
    .ab
      p#ap
        | Sex and Love is the tenth studio album recorded by Spanish recording artist Enrique Iglesias. It was released on 14 March 2014 by Republic Records. The album&apos;s three Spanish singles: &quot;Loco&quot;, &quot;El Perdedor&quot; and &quot;Bailando&quot; reached No. 1 on the Billboard
        | Hot Latin Songs chart. The album features guest vocals from Jennifer Lopez, Kylie Minogue, Descemer Bueno, Pitbull, Flo Rida, Anthony Touma, Romeo Santos, Mickael Carreira, Marco Antonio Sol&iacute;s, Yandel, Gente de Zona, Luan Santana,
        | India Mart&iacute;nez and Sean Paul. Sex and Love won the Lo Nuestro Award for Pop Album of the Year.
        br
        br
        | Speaking about his album Enrique described his album as fun and obviously sexual, while some of it is more introspective
        |                     and nostalgic. He then went on to say: &quot;The words go together, but they can be separate and inspire different feelings and thoughts. It&apos;s all-encompassing. When you turn on the radio, what are the themes that everybody relates to?
        |                     We all relate to sex and love. That&apos;s why when you hear music &ndash; 90% of the time &ndash; it derives from those two feelings.
    .list
      h3.l I&apos;m a Freak (featuring Pitbull)
      h3.l There Goes My Baby (featuring Flo Rida)
      h3.l Bailando (featuring Descemer Bueno and Gente de Zona)
      h3.l El Perdedor (featuring Marco Antonio Sol&iacute;s)
      h3.l Loco (featuring Romeo Santos)
      h3.l Let Me Be Your Lover (featuring Pitbull)
      h3.l You and I
      h3.l Heart Attack
      h3.l Me Cuesta Tanto Olvidarte
      h3.l Noche y De D&iacute;a (featuring Yandel and Juan Magan)
      h3.l Loco (featuring India Mart&iacute;nez)
      h3.l I Like How It Feels&quot; (featuring Pitbull and The WAV.s)
      h3.l Turn the Night Up
      h3.l Beautiful&quot; (with Kylie Minogue)
      h3.l Only a Woman
      h3.l Physical&quot; (featuring Jennifer Lopez)
      h3.l 3 Letters&quot; (featuring Pitbull)
      h3.l Finally Found You
