doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Enrique Iglesias-Enrique
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Economica&family=Montserrat+Alternates:wght@100&family=PT+Mono&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Economica&family=Montserrat+Alternates:wght@100&family=PT+Mono&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Economica&family=Montserrat+Alternates:wght@100&family=PT+Mono&family=PT+Sans&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Economica&family=Montserrat+Alternates:wght@100&family=Open+Sans+Condensed:wght@300&family=PT+Mono&family=PT+Sans&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='/static/album1.css')
  link(rel="shortcut icon", href="/static/img/fav.jpg", type="image/x-icon")
.container
  .icons
    a(href='https://www.instagram.com/enriqueiglesias/')
      img#im1(src='/static/img/insta2.png' alt='')
    a(href='https://www.facebook.com/Enrique')
      img#im2(src='/static/img/fb.png' alt='')
    a(href='https://open.spotify.com/artist/7qG3b048QCHVRO5Pv1T5lw?si=8qklDBAsQcC9Q_jlnOvG7A&nd=1')
      img#im3(src='/static/img/sp2.png' alt='')
    a(href='https://music.apple.com/us/artist/enrique-iglesias/90895')
      img#im4(src='/static/img/app2.png' alt='')
    a(href='https://twitter.com/enriqueiglesias')
      img#im5(src='/static/img/tw.png' alt='')
    a(href='https://www.youtube.com/user/EnriqueIglesiasPlay')
      img#im6(src='/static/img/yt2.png' alt='')
  .h
    h1 ei
  .index
    a#s1(href='/')
      span
        | Home
    a#s2(href='/tour')
      span
        | Tour
    a#s3(href='/discography')
      span
        | Discography
    a#s4(href='/register')
      span
        | Register
  .tt
    h1#tt
      | ENRIQUE IGLESIAS (21 NOV 1995)
    h2.listt TRACK LIST
  .content
    .ab
      p#ap
        | Enrique Iglesias is the eponymous debut studio album recorded by Spanish singer-songwriter Enrique Iglesias, it was released by Fonovisa on 21 November 1995 (see 1995 in music). The album was a success and topped the Latin charts. It also won the Grammy
        | Award for Best Latin Pop Album at the 39th Annual Grammy Awards on 26 February 1997. The album received a Gold certification in Portugal after a weeks of sales, and has sold more than 4 million copies worldwide. In the United States
        | it was certified Platinum on 18 November 1996, becoming one of the best selling latin albums of all times in that country. All singles of the album hit the number-one spot in the Billboard Hot Latin Tracks chart: &quot;Si T&uacute; Te Vas&quot;, &quot;Por
        | Amarte&quot;, &quot;No Llores Por M&iacute;&quot; and &quot;Trapecista&quot;, the most for any Latin album, beating Selena and Jon Secada with four chart-toppers, each.
    .list
      h3.l No Llores Por M&iacute;
      h3.l Trapecista
      h3.l Por Amarte
      h3.l Si T&uacute; Te Vas
      h3.l Si Juras Regresar
      h3.l Experiencia Religiosa
      h3.l Falta Tanto Amor
      h3.l Inalcanzable
      h3.l Mu&ntilde;eca Cruel
      h3.l Inv&eacute;ntame
