doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Enrique Iglesias-Enrique
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Economica&family=Montserrat+Alternates:wght@100&family=PT+Mono&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Economica&family=Montserrat+Alternates:wght@100&family=PT+Mono&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Economica&family=Montserrat+Alternates:wght@100&family=PT+Mono&family=PT+Sans&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Economica&family=Montserrat+Alternates:wght@100&family=Open+Sans+Condensed:wght@300&family=PT+Mono&family=PT+Sans&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='/static/album3.css')
  link(rel="shortcut icon", href="/static/img/fav.jpg", type="image/x-icon")
.container
  .icons
    a(href='https://www.instagram.com/enriqueiglesias/')
      img#im1(src='/static/img/insta2.png' alt='')
    a(href='https://www.facebook.com/Enrique')
      img#im2(src='/static/img/fb.png' alt='')
    a(href='https://open.spotify.com/artist/7qG3b048QCHVRO5Pv1T5lw?si=8qklDBAsQcC9Q_jlnOvG7A&nd=1')
      img#im3(src='/static/img/sp2.png' alt='')
    a(href='https://music.apple.com/us/artist/enrique-iglesias/90895')
      img#im4(src='/static/img/app2.png' alt='')
    a(href='https://twitter.com/enriqueiglesias')
      img#im5(src='/static/img/tw.png' alt='')
    a(href='https://www.youtube.com/user/EnriqueIglesiasPlay')
      img#im6(src='/static/img/yt2.png' alt='')
  .h
    h1 ei
  .index
    a#s1(href='/')
      span
        | Home
    a#s2(href='/tour')
      span
        | Tour
    a#s3(href='/discography')
      span
        | Discography
    a#s4(href='/register')
      span
        | Register
  .tt
    h1#tt
      | COSAS DEL AMOR (22 SEP 1998) (STANDARD EDITION)
    h2.listt TRACK LIST
  .content
    .ab
      p#ap
        | Cosas del Amor (English: Things of Love) is the third Spanish studio album recorded by Spanish singer-songwriter Enrique Iglesias, It was released by Fonovisa on 22 September 1998 (see 1998 in music). The album was produced again by Spanish songwriter
        | and record producer Rafael P&eacute;rez-Botija, taking a more mature direction on the production of the album, departing from the pop rock ballads of his first two albums and focusing on latin pop arrangements similar to the likes of Luis
        | Miguel.In 1999, the album received a nomination for Best Latin Pop Performance at the 41st Annual Grammy Awards, losing to Vuelve by Ricky Martin. It yielded two number-one singles on the Billboard Hot Latin Tracks chart: &quot;Esperanza&quot;
        | and &quot;Nunca Te Olvidar&eacute;&quot;. The third single was canceled in favor of his first English language hit single &quot;Bailamos&quot;. The album debuted at number-one in the Billboard Top Latin Albums chart in the week of 10 October 1998, staying at
        | pole position for five weeks in 1998 and three weeks in 1999. In the Billboard 200, the album debuted and peaked at #64 with 21,500 copies sold, the highest debut by a latin language album since Luis Miguel&apos;s Romances. In its third
        | week at the charts it sold 15,000. The album was certified Gold by Recording Industry Association of America in 1999.
    .list
      h3.l Nunca Te Olvidar&eacute;
      h3.l Cosas del AmoR
      h3.l Esperanza
      h3.l Desnudo
      h3.l Contigo
      h3.l Alguien Como T&uacute;
      h3.l Sirena
      h3.l Para de Jugar
      h3.l Dicen por Ah&iacute;
      h3.l Ruleta Rusa
