doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Enrique Iglesias-Enrique
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Economica&family=Montserrat+Alternates:wght@100&family=PT+Mono&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Economica&family=Montserrat+Alternates:wght@100&family=PT+Mono&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Economica&family=Montserrat+Alternates:wght@100&family=PT+Mono&family=PT+Sans&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Economica&family=Montserrat+Alternates:wght@100&family=Open+Sans+Condensed:wght@300&family=PT+Mono&family=PT+Sans&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='/static/album8.css')
  link(rel="shortcut icon", href="/static/img/fav.jpg", type="image/x-icon")
.container
  .icons
    a(href='https://www.instagram.com/enriqueiglesias/')
      img#im1(src='/static/img/insta2.png' alt='')
    a(href='https://www.facebook.com/Enrique')
      img#im2(src='/static/img/fb.png' alt='')
    a(href='https://open.spotify.com/artist/7qG3b048QCHVRO5Pv1T5lw?si=8qklDBAsQcC9Q_jlnOvG7A&nd=1')
      img#im3(src='/static/img/sp2.png' alt='')
    a(href='https://music.apple.com/us/artist/enrique-iglesias/90895')
      img#im4(src='/static/img/app2.png' alt='')
    a(href='https://twitter.com/enriqueiglesias')
      img#im5(src='/static/img/tw.png' alt='')
    a(href='https://www.youtube.com/user/EnriqueIglesiasPlay')
      img#im6(src='/static/img/yt2.png' alt='')
  .h
    h1 ei
  .index
    a#s1(href='/')
      span
        | Home
    a#s2(href='/tour')
      span
        | Tour
    a#s3(href='/discography')
      span
        | Discography
    a#s4(href='/register')
      span
        | Register
  .tt
    h1#tt
      | INSOMNIAC (11 JUNE 2007)
    h2.listt TRACK LIST
  .content
    .ab
      p#ap
        | Insomniac is the eighth studio album, and fourth English-language album, released by Spanish singer Enrique Iglesias. The album is the first English release of Iglesias in 4 years since that of his seventh studio album 7 (2003) deemed a commercial failure.
        | Insomniac has an edgier, darker, more urban and contemporary sound compared to its predecessor, as it contains Iglesias&apos;s first collaboration with a rapper, Lil Wayne on the song &quot;Push&quot; as well as a cover of indie rock band Ringside&apos;s
        | &quot;Tired of Being Sorry&quot;. It was released worldwide on 11 June 2007 and in the USA on 12 June 2007.
    .list
      h3.l Ring My Bells
      h3.l Push (featuring Lil Wayne)
      h3.l Do You Know?
      h3.l Somebody&apos;s Me
      h3.l On Top of You
      h3.l Tired of Being Sorry
      h3.l Miss You
      h3.l Wish I Was Your Lover
      h3.l Little Girl
      h3.l Stay Here Tonight
      h3.l Sweet Isabel
      h3.l Don&apos;t You Forget About Me
      h3.l D&iacute;melo
      h3.l Alguien Soy Yo
      h3.l Amigo Vulnerable
