doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Enrique Iglesias-Enrique
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Economica&family=Montserrat+Alternates:wght@100&family=PT+Mono&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Economica&family=Montserrat+Alternates:wght@100&family=PT+Mono&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Economica&family=Montserrat+Alternates:wght@100&family=PT+Mono&family=PT+Sans&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Economica&family=Montserrat+Alternates:wght@100&family=Open+Sans+Condensed:wght@300&family=PT+Mono&family=PT+Sans&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='/static/album6.css')
  link(rel="shortcut icon", href="/static/img/fav.jpg", type="image/x-icon")
.container
  .icons
    a(href='https://www.instagram.com/enriqueiglesias/')
      img#im1(src='/static/img/insta2.png' alt='')
    a(href='https://www.facebook.com/Enrique')
      img#im2(src='/static/img/fb.png' alt='')
    a(href='https://open.spotify.com/artist/7qG3b048QCHVRO5Pv1T5lw?si=8qklDBAsQcC9Q_jlnOvG7A&nd=1')
      img#im3(src='/static/img/sp2.png' alt='')
    a(href='https://music.apple.com/us/artist/enrique-iglesias/90895')
      img#im4(src='/static/img/app2.png' alt='')
    a(href='https://twitter.com/enriqueiglesias')
      img#im5(src='/static/img/tw.png' alt='')
    a(href='https://www.youtube.com/user/EnriqueIglesiasPlay')
      img#im6(src='/static/img/yt2.png' alt='')
  .h
    h1 ei
  .index
    a#s1(href='/')
      span
        | Home
    a#s2(href='/tour')
      span
        | Tour
    a#s3(href='/discography')
      span
        | Discography
    a#s4(href='/register')
      span
        | Register
  .tt
    h1#tt
      | QUIZÁS (17 SEP 2002)
    h2.listt TRACK LIST
  .content
    .ab
      p#ap
        | Quiz&aacute;s (English: Maybe) is the sixth studio album and fourth full-Spanish-language album by Spanish singer-songwriter Enrique Iglesias. The album was released by Universal Music Latino on 17 September 2002. Quiz&aacute;s was Iglesias first album in Spanish in
        | four years, his last being Cosas del Amor in 1998. This was also his last full-length Spanish album of his career as his next albums would be English and bilingual exclusively. The album has a fragile and delicate sound compared to
        | his previous three Spanish albums, which were based on pop songs with light rock instrumentation and consists mainly of middle of the road Latin pop ballads. It is his most personal release to date as it deals with topics such as the
        | strange relationship with his father, singer Julio Iglesias, and other personal dilemmas.[2] Enrique Iglesias won the Latin Grammy Award for Best Male Pop Vocal Album at the 4th Annual Latin Grammy Awards on 3 September 2003.
    .list
      h3.l Tres Palabras
      h3.l Para Qu&eacute; la Vida
      h3.l La Chica de Ayer
      h3.l Mentiroso
      h3.l Quiz&aacute;s
      h3.l Pienso en T&iacute;
      h3.l Marta
      h3.l Su&eacute;ltame las Riendas
      h3.l Mamacita
      h3.l Mentiroso
      h3.l No Apagues la Luz&quot; (bonus track)
