doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Enrique Iglesias-Enrique
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Economica&family=Montserrat+Alternates:wght@100&family=PT+Mono&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Economica&family=Montserrat+Alternates:wght@100&family=PT+Mono&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Economica&family=Montserrat+Alternates:wght@100&family=PT+Mono&family=PT+Sans&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Economica&family=Montserrat+Alternates:wght@100&family=Open+Sans+Condensed:wght@300&family=PT+Mono&family=PT+Sans&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='/static/album4.css')
  link(rel="shortcut icon", href="/static/img/fav.jpg", type="image/x-icon")
.container
  .icons
    a(href='https://www.instagram.com/enriqueiglesias/')
      img#im1(src='/static/img/insta2.png' alt='')
    a(href='https://www.facebook.com/Enrique')
      img#im2(src='/static/img/fb.png' alt='')
    a(href='https://open.spotify.com/artist/7qG3b048QCHVRO5Pv1T5lw?si=8qklDBAsQcC9Q_jlnOvG7A&nd=1')
      img#im3(src='/static/img/sp2.png' alt='')
    a(href='https://music.apple.com/us/artist/enrique-iglesias/90895')
      img#im4(src='/static/img/app2.png' alt='')
    a(href='https://twitter.com/enriqueiglesias')
      img#im5(src='/static/img/tw.png' alt='')
    a(href='https://www.youtube.com/user/EnriqueIglesiasPlay')
      img#im6(src='/static/img/yt2.png' alt='')
  .h
    h1 ei
  .index
    a#s1(href='/')
      span
        | Home
    a#s2(href='/tour')
      span
        | Tour
    a#s3(href='/discography')
      span
        | Discography
    a#s4(href='/register')
      span
        | Register
  .tt
    h1#tt
      | ENRIQUE (23 NOV 1999)
    h2.listt TRACK LIST
  .content
    .ab
      p#ap
        | Enrique is the debut English album and fourth studio album by Enrique Iglesias recorded in English and released on 23 November 1999. The album launched two number one US Billboard Hot 100 hits, &quot;Bailamos&quot; and &quot;Be with You&quot;.After the success of his first
        | English crossover single &quot;Bailamos&quot;, Iglesias signed a multi-album deal with Interscope and spent the next two months recording the first English album. Knowing that Iglesias was a Bruce Springsteen fan, Interscope chairman Jimmy Iovine
        | recommended that Iglesias covered the Springsteen track &quot;Sad Eyes&quot; which had recently been released on Springsteen&apos;s collection of rare recordings Tracks. The album also contains a duet with Whitney Houston, titled &quot;Could I Have This
        | Kiss Forever&quot;, which Iglesias and Houston recorded separately. Iglesias recorded the song in Los Angeles and Houston in Hamburg, Germany with both of them singing with each other over the phone. They did eventually meet when they re-recorded
        | the track for the single release. The album also included the crossover song &quot;Bailamos&quot; which had previously been on a special edition of Enrique&apos;s Cosas del Amor album and the Wild Wild West soundtrack. The album cover was photographed
        | by Pepe Botella.
    .list
      h3.l Rhythm Divine
      h3.l Be With You
      h3.l I Have Always Loved You
      h3.l Sad Eyes
      h3.l I&apos;m Your Man
      h3.l &Oacute;yeme&quot; (&quot;Listen&quot;)
      h3.l Could I Have This Kiss Forever&quot; (duet with Whitney Houston)
      h3.l You&apos;re My #1
      h3.l Alabao
      h3.l Bailamos
      h3.l Ritmo Total
      h3.l M&aacute;s Es Amar&quot; (Sad Eyes)
      h3.l No Puedo M&aacute;s Sin Ti&quot; (I&apos;m Your Man)
