doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Enrique Iglesias-Enrique
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Economica&family=Montserrat+Alternates:wght@100&family=PT+Mono&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Economica&family=Montserrat+Alternates:wght@100&family=PT+Mono&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Economica&family=Montserrat+Alternates:wght@100&family=PT+Mono&family=PT+Sans&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Economica&family=Montserrat+Alternates:wght@100&family=Open+Sans+Condensed:wght@300&family=PT+Mono&family=PT+Sans&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='/static/album12.css')
  link(rel="shortcut icon", href="/static/img/fav.jpg", type="image/x-icon")
.container
  .icons
    a(href='https://www.instagram.com/enriqueiglesias/')
      img#im1(src='/static/img/insta2.png' alt='')
    a(href='https://www.facebook.com/Enrique')
      img#im2(src='/static/img/fb.png' alt='')
    a(href='https://open.spotify.com/artist/7qG3b048QCHVRO5Pv1T5lw?si=8qklDBAsQcC9Q_jlnOvG7A&nd=1')
      img#im3(src='/static/img/sp2.png' alt='')
    a(href='https://music.apple.com/us/artist/enrique-iglesias/90895')
      img#im4(src='/static/img/app2.png' alt='')
    a(href='https://twitter.com/enriqueiglesias')
      img#im5(src='/static/img/tw.png' alt='')
    a(href='https://www.youtube.com/user/EnriqueIglesiasPlay')
      img#im6(src='/static/img/yt2.png' alt='')
  .h
    h1 ei
  .index
    a#s1(href='/')
      span
        | Home
    a#s2(href='/tour')
      span
        | Tour
    a#s3(href='/discography')
      span
        | Discography
    a#s4(href='/register')
      span
        | Register
  .tt
    h1#tt
      | FINAL (17 SEP 2021)
    h2.listt TRACK LIST
  .content
    .ab
      p#ap
        | Final is the eleventh studio album recorded by Spanish singer Enrique Iglesias.[3] Volume 1 was released on 17 September 2021[4][5] by Sony Music, Volume 2 has an unknown release date as of writing. The album will feature collaborations with several artists
        | and will occur in Volume 1 and Volume 2. During a live chat with Ricky Martin and Sebasti&aacute;n Yatra on Instagram on 3 September 2021, Iglesias suggested that Final would be the last album he would release.
        br
        br
        | During
        |                     a video chat with Ricky Martin and Sebastian Yatra to promote their joint tour, Iglesias revealed that the album would be a two-part release entitled Final, as these would be the last albums of his career. Iglesias claimed, &quot;it&apos;s something
        |                     that I have been thinking about for the past few years&quot; but also insisted, &quot;I&apos;m never going to stop writing songs because I love writing songs, but I&apos;m going to do it in a different way, meaning they don&apos;t necessarily have to be packaged
        |                     as an album, so this project to me is important&quot;
    .list
      h3.l Chasing the Sun
      h3.l Te Fuiste (featuring Myke Towers)
      h3.l Pendejo
      h3.l Unwell
      h3.l All About You
      h3.l Me Pas&eacute; (featuring Farruko)
      h3.l S&uacute;beme la Radio (featuring Descemer Bueno and Zion &amp; Lennox)
      h3.l Duele el Coraz&oacute;n (featuring Wisin)
      h3.l El Ba&ntilde;o (featuring Bad Bunny)
      h3.l Move to Miami (featuring Pitbull)
      h3.l El Perd&oacute;n (with Nicky Jam)
