doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Enrique Iglesias-Enrique
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Economica&family=Montserrat+Alternates:wght@100&family=PT+Mono&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Economica&family=Montserrat+Alternates:wght@100&family=PT+Mono&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Economica&family=Montserrat+Alternates:wght@100&family=PT+Mono&family=PT+Sans&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Economica&family=Montserrat+Alternates:wght@100&family=Open+Sans+Condensed:wght@300&family=PT+Mono&family=PT+Sans&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='/static/album2.css')
  link(rel="shortcut icon", href="/static/img/fav.jpg", type="image/x-icon")
.container
  .icons
    a(href='https://www.instagram.com/enriqueiglesias/')
      img#im1(src='/static/img/insta2.png' alt='')
    a(href='https://www.facebook.com/Enrique')
      img#im2(src='/static/img/fb.png' alt='')
    a(href='https://open.spotify.com/artist/7qG3b048QCHVRO5Pv1T5lw?si=8qklDBAsQcC9Q_jlnOvG7A&nd=1')
      img#im3(src='/static/img/sp2.png' alt='')
    a(href='https://music.apple.com/us/artist/enrique-iglesias/90895')
      img#im4(src='/static/img/app2.png' alt='')
    a(href='https://twitter.com/enriqueiglesias')
      img#im5(src='/static/img/tw.png' alt='')
    a(href='https://www.youtube.com/user/EnriqueIglesiasPlay')
      img#im6(src='/static/img/yt2.png' alt='')
  .h
    h1 ei
  .index
    a#s1(href='/')
      span
        | Home
    a#s2(href='/tour')
      span
        | Tour
    a#s3(href='/discography')
      span
        | Discography
    a#s4(href='/register')
      span
        | Register
  .tt
    h1#tt
      | VIVIR (21 JAN 1997)
    h2.listt TRACK LIST
  .content
    .ab
      p#ap
        | Vivir (English: Live) is the second Spanish studio album recorded by Spanish singer-songwriter Enrique Iglesias. It was released by Fonovisa on 21 January 1997 (see 1997 in music). The album includes three number-one singles on the Billboard Hot Latin
        | Tracks charts in United States: &quot;Enamorado Por Primera Vez&quot;, &quot;S&oacute;lo En Ti&quot; and &quot;Miente&quot;. In the United States, it was platinum on 6 May 1997. This album received a nomination for Grammy Award for Best Latin Pop Album at the 40th Annual
        | Grammy Awards, on 25 February 1998, losing to Romances by Luis Miguel. The album received a Premio Lo Nuestro award for &quot;Pop Album of the Year&quot; at the 9th Lo Nuestro Awards. To the date the record has sold a million copies in U.S and
        | over 5 million copies worldwide.
    .list
      h3.l Enamorado Por Primera Vez
      h3.l Al Despertar
      h3.l Lluvia cae
      h3.l Tu Vac&iacute;o
      h3.l S&oacute;lo En T&iacute;
      h3.l Miente
      h3.l Vivir&eacute; y Morir&eacute;
      h3.l Volver&eacute;
      h3.l El Muro
      h3.l Revoluci&oacute;n
