doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Enrique Iglesias-Enrique
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Economica&family=Montserrat+Alternates:wght@100&family=PT+Mono&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Economica&family=Montserrat+Alternates:wght@100&family=PT+Mono&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Economica&family=Montserrat+Alternates:wght@100&family=PT+Mono&family=PT+Sans&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Economica&family=Montserrat+Alternates:wght@100&family=Open+Sans+Condensed:wght@300&family=PT+Mono&family=PT+Sans&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='/static/album5.css')
  link(rel="shortcut icon", href="/static/img/fav.jpg", type="image/x-icon")
.container
  .icons
    a(href='https://www.instagram.com/enriqueiglesias/')
      img#im1(src='/static/img/insta2.png' alt='')
    a(href='https://www.facebook.com/Enrique')
      img#im2(src='/static/img/fb.png' alt='')
    a(href='https://open.spotify.com/artist/7qG3b048QCHVRO5Pv1T5lw?si=8qklDBAsQcC9Q_jlnOvG7A&nd=1')
      img#im3(src='/static/img/sp2.png' alt='')
    a(href='https://music.apple.com/us/artist/enrique-iglesias/90895')
      img#im4(src='/static/img/app2.png' alt='')
    a(href='https://twitter.com/enriqueiglesias')
      img#im5(src='/static/img/tw.png' alt='')
    a(href='https://www.youtube.com/user/EnriqueIglesiasPlay')
      img#im6(src='/static/img/yt2.png' alt='')
  .h
    h1 ei
  .index
    a#s1(href='/')
      span
        | Home
    a#s2(href='/tour')
      span
        | Tour
    a#s3(href='/discography')
      span
        | Discography
    a#s4(href='/register')
      span
        | Register
  .tt
    h1#tt
      | ESCAPE (30 OCT 2001)
    h2.listt TRACK LIST
  .content
    .ab
      p#ap
        | Escape is the fifth studio album and second English-language album recorded by Spanish singer and songwriter Enrique Iglesias. It was released by Interscope Records on 30 October 2001. The album was designed in order to have a broader appeal to the masses
        | worldwide, and Iglesias visual image was carefully crafted for this era, opting for a sexier and sultrier one. Escape proved to be even more successful than its predecessor, Enrique (1999), having sold 8 million copies worldwide. The
        | album earned him a Brit Award for Best Pop Act nomination in 2003.Iglesias either wrote or co-wrote every track on the album, and has said that for many of the tracks on the album he started out simply with titles that he later based
        | the songs on. The first song to use this method was &quot;Don&apos;t Turn Off the Lights&quot;, which was originally going to be the title of the album and the first single. &quot;Hero&quot;, the most popular track from the album, was co-written by Paul Barry
        | and Mark Taylor. Iglesias also stated that he wrote many songs for the album, but picked those he considered to be the best.
    .list
      h3.l Escape
      h3.l Don&apos;t Turn Off the Lights
      h3.l Love to See You Cry
      h3.l Hero
      h3.l I Will Survive
      h3.l Love 4 Fun
      h3.l Maybe
      h3.l One Night Stand
      h3.l She Be the One
      h3.l If the World Crashes Down
      h3.l Escapar
      h3.l No Apagues la Luz
      h3.l H&eacute;roe
