doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Enrique Iglesias-Enrique
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Economica&family=Montserrat+Alternates:wght@100&family=PT+Mono&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Economica&family=Montserrat+Alternates:wght@100&family=PT+Mono&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Economica&family=Montserrat+Alternates:wght@100&family=PT+Mono&family=PT+Sans&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Economica&family=Montserrat+Alternates:wght@100&family=Open+Sans+Condensed:wght@300&family=PT+Mono&family=PT+Sans&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='/static/album10.css')
  link(rel="shortcut icon", href="/static/img/fav.jpg", type="image/x-icon")
.container
  .icons
    a(href='https://www.instagram.com/enriqueiglesias/')
      img#im1(src='/static/img/insta2.png' alt='')
    a(href='https://www.facebook.com/Enrique')
      img#im2(src='/static/img/fb.png' alt='')
    a(href='https://open.spotify.com/artist/7qG3b048QCHVRO5Pv1T5lw?si=8qklDBAsQcC9Q_jlnOvG7A&nd=1')
      img#im3(src='/static/img/sp2.png' alt='')
    a(href='https://music.apple.com/us/artist/enrique-iglesias/90895')
      img#im4(src='/static/img/app2.png' alt='')
    a(href='https://twitter.com/enriqueiglesias')
      img#im5(src='/static/img/tw.png' alt='')
    a(href='https://www.youtube.com/user/EnriqueIglesiasPlay')
      img#im6(src='/static/img/yt2.png' alt='')
  .h
    h1 ei
  .index
    a#s1(href='/')
      span
        | Home
    a#s2(href='/tour')
      span
        | Tour
    a#s3(href='/discography')
      span
        | Discography
    a#s4(href='/register')
      span
        | Register
  .tt
    h1#tt
      | EUPHORIA (5 JULY 2010)
    h2.listt TRACK LIST
  .content
    .ab
      p#ap
        | Euphoria is the ninth studio album by Spanish singer-songwriter Enrique Iglesias. The album is a joint-release by Universal Republic and Universal Music Latino and was released on 5 July 2010 internationally and in the US on 6 July 2010. The album features
        | guest appearances by Akon, Usher, Juan Luis Guerra, Pitbull, Nicole Scherzinger, Puerto Rican reggaeton duo Wisin &amp; Yandel and Ludacris. The album consists of songs in English, and Spanish. The album spawned seven singles, three in
        | Spanish and four in English. The album&apos;s first single &quot;Cuando me enamoro&quot; reached number-one on the Hot Latin Songs Chart, while the album&apos;s second single &quot;I Like It&quot;, reached number four on the Billboard Hot 100. Upon its release,
        | the album debuted at number ten on the Billboard 200, with sales of 27,000 copies. The album has produced three top Billboard Hot Dance Club Play tracks in the form of &quot;I Like It&quot;, &quot;Tonight (I&apos;m Lovin&apos; You)&quot; and &quot;Dirty Dancer&quot;. The
        | album was nominated for Latin Grammy Award for Album of the Year and has won Billboard Music Award for Top Latin Album. Together, the album and its singles have sold 1 million copies in the UK alone. It was certified 2&times; Platinum (Latin)
        | in United States on 23 September 2011.
    .list
      h3.l I Like It (featuring Pitbull)
      h3.l One Day at a Time (featuring Akon)
      h3.l Heartbeat (featuring Nicole Scherzinger)
      h3.l Dirty Dancer (with Usher)
      h3.l Why Not Me?
      h3.l No Me Digas Que No
      h3.l Ayer
      h3.l Cuando Me Enamoro (featuring Juan Luis Guerra)
      h3.l Dile Que
      h3.l T&uacute; y Yo
      h3.l Heartbreaker
      h3.l Coming Home
      h3.l Everything&apos;s Gonna Be Alright
      h3.l No Me Digas Que No
