doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Enrique
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Economica&family=Montserrat+Alternates:wght@100&family=PT+Mono&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Economica&family=Montserrat+Alternates:wght@100&family=PT+Mono&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Economica&family=Montserrat+Alternates:wght@100&family=PT+Mono&family=PT+Sans&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='/static/index.css')
  link(rel="shortcut icon", href="/static/img/fav.jpg", type="image/x-icon")
.container
  .icons
    a(href='https://www.instagram.com/enriqueiglesias/')
      img#im1(src='/static/img/insta2.png' alt='')
    a(href='https://www.facebook.com/Enrique')
      img#im2(src='/static/img/fb.png' alt='')
    a(href='https://open.spotify.com/artist/7qG3b048QCHVRO5Pv1T5lw?si=8qklDBAsQcC9Q_jlnOvG7A&nd=1')
      img#im3(src='/static/img/sp2.png' alt='')
    a(href='https://music.apple.com/us/artist/enrique-iglesias/90895')
      img#im4(src='/static/img/app2.png' alt='')
    a(href='https://twitter.com/enriqueiglesias')
      img#im5(src='/static/img/tw.png' alt='')
    a(href='https://www.youtube.com/user/EnriqueIglesiasPlay')
      img#im6(src='/static/img/yt2.png' alt='')
  .h
    h1 ei
  .index
    a#s1(href='/')
      span
        | Home
    a#s2(href='/tour')
      span
        | Tour
    a#s3(href='/discography')
      span
        | Discography
    a#s4(href='/register')
      span
        | Register
  .cont3
    #albums Albums
    #about About
    #top Top Singles
  .con2
    .album
      a#a1(href='/album1')
        h2.al Enrique iglesias (1995)
      a#a2(href='/album2')
        h2.al Vivir (1997)
      a#a3(href='/album3')
        h2.al Cosas del Amor (1998)
      a#a4(href='/album4')
        h2.al Enrique (1999)
      a#a5(href='/album5')
        h2.al Escape (2001)
      a#a6(href='/album6')
        h2.al Quizás (2002)
      br
      a#a7(href='/album7')
        h2.al 7 (2003)
        br
      a#a8(href='/album8')
        h2.al Insomniac (2007)
      a#a9(href='/album10')
        h2.al Euphoria (2010)
      a#a10(href='/album11')
        h2.al Sex and Love (2014)
      a#a11(href='/album12')
        h2.al Final (2021)
    .about
      p#ap
        | Enrique Miguel Iglesias Preysler (Spanish pronunciation: [en&#x2C8;rike mi&#x2C8;&#x263;el i&#x2C8;&#x263;lesjas &#x2C8;p&#x27E;ejzle&#x27E;]; born 8 May 1975) is a Spanish singer, songwriter, record producer, philanthropist and actor. He started his recording career in the mid nineties
        | on Mexican indie label Fonovisa and became the best selling Spanish language act of the decade. By the turn of the millennium he made a successful crossover into the mainstream English language market. He signed a multi-album deal
        | with Universal Music Group for US$68 million with Universal Music Latino to release his Spanish albums and Interscope Records to release English albums.
        br
        br
        | Iglesias was born in Madrid, Spain, and is the third and youngest child
        |                     of Spanish singer Julio Iglesias and Filipina socialite and magazine journalist Isabel Preysler. His father Julio is recognized as the most commercially successful continental European singer in the world. Iglesias was raised
        |                     with two older siblings, Ch&aacute;beli and Julio Jr. One of his mother&apos;s aunts is actress Neile Adams, the first wife of American actor Steve McQueen, mother of actor Chad McQueen, and grandmother of actor Steven R. McQueen.
        |                     His father&apos;s family is from Galicia and Andalusia; his father also claims some Jewish and Puerto Rican ancestry on his mother&apos;s side.
        br
        br
        span#sp1
          | For more information 
          button#but1(onclick="window.location.href='https://en.wikipedia.org/wiki/Enrique_Iglesias'")
            | Click
            | here
    .top
      a#t-1(href='https://www.youtube.com/watch?v=5sye_VxmNZA')
        h2.t Bailamos
      br
      a#t-2(href='https://www.youtube.com/watch?v=koJlIGDImiU')
        h2.t
          | Hero
          br
      br
      a#t-3(href='https://www.youtube.com/watch?v=X9_n8jakvWU')
        h2.t I Like It
      br
      a#t-4(href='https://www.youtube.com/watch?v=Jx2yQejrrUE')
        h2.t Tonight (I&apos;m Lovin&apos; You)
      br
      a#t-5(href='https://www.youtube.com/watch?v=tLcfAnN2QgY')
        h2.t El Perdedor
      br
      a#t-6(href='https://www.youtube.com/watch?v=NUsoVlDFqZg')
        h2.t Bailando
      br
      a#t-7(href='https://www.youtube.com/watch?v=hXI8RQYC36Q')
        h2.t El Perd&oacute;n
      br
      a#t-8(href='https://www.youtube.com/watch?v=9sg-A-eS6Ig')
        h2.t S&uacute;beme la Radio
      br
      a#t-9(href='https://www.youtube.com/watch?v=gu9_m0vm7fM')
        h2.t El Ba&ntilde;o
      br
      a#t-10(href='https://www.youtube.com/watch?v=gv9hrQzU0cA')
        h2.t Somebody&apos;s Me
      br
