doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Singles-Enrique
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Economica&family=Montserrat+Alternates:wght@100&family=PT+Mono&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Economica&family=Montserrat+Alternates:wght@100&family=PT+Mono&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Economica&family=Montserrat+Alternates:wght@100&family=PT+Mono&family=PT+Sans&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Economica&family=Montserrat+Alternates:wght@100&family=Open+Sans+Condensed:wght@300&family=PT+Mono&family=PT+Sans&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Economica&family=Montserrat+Alternates:wght@100&family=Open+Sans+Condensed:wght@300&family=PT+Mono&family=PT+Sans&family=Shippori+Antique&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='/static/singles.css')
  link(rel="shortcut icon", href="/static/img/fav.jpg", type="image/x-icon")
.container
  .icons
    a(href='https://www.instagram.com/enriqueiglesias/')
      img#im1(src='/static/img/insta2.png' alt='')
    a(href='https://www.facebook.com/Enrique')
      img#im2(src='/static/img/fb.png' alt='')
    a(href='https://open.spotify.com/artist/7qG3b048QCHVRO5Pv1T5lw?si=8qklDBAsQcC9Q_jlnOvG7A&nd=1')
      img#im3(src='/static/img/sp2.png' alt='')
    a(href='https://music.apple.com/us/artist/enrique-iglesias/90895')
      img#im4(src='/static/img/app2.png' alt='')
    a(href='https://twitter.com/enriqueiglesias')
      img#im5(src='/static/img/tw.png' alt='')
    a(href='https://www.youtube.com/user/EnriqueIglesiasPlay')
      img#im6(src='/static/img/yt2.png' alt='')
  .h
    h1 ei
  .index
    a#s1(href='/')
      span
        | Home
    a#s2(href='/tour')
      span
        | Tour
    a#s3(href='/discography')
      span
        | Discography
    a#s4(href='/register')
      span
        | Register
  .si
    h1 SINGLES
  .cont
    #cont1.contt
      .sin
        .li
          a(href='https://open.spotify.com/album/18FB0rct42g5hNr14l70GK?highlight=spotify:track:7A1V7IEbwn2nuFGreV8DNv')
            h3 Si Tú Te Vas (1995)
        .music
          audio(src='/static/audio/Si_Tu_Te_Vas.mp3')
          .controls
            button.player-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z' clip-rule='evenodd')
            input.timeline(type='range' max='100' value='0')
            button.sound-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z' clip-rule='evenodd')
      .sin
        .li
          a(href='https://open.spotify.com/album/2cZmvkbYKWbE9p0L3jKDJB')
            h3 Experiencia Religiosa (1996)
        .music
          audio(src='/static/audio/exper.mp3')
          .controls
            button.player-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z' clip-rule='evenodd')
            input.timeline(type='range' max='100' value='0')
            button.sound-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z' clip-rule='evenodd')
      .sin
        .li
          a(href='https://open.spotify.com/album/3jSHDDkwNvjOeui59fI6PQ?highlight=spotify:track:3Jc4L4fKuoyDpe9b17Soi2')
            h3 Sólo En Ti (1997)
        .music
          audio(src='/static/audio/solo.mp3')
          .controls
            button.player-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z' clip-rule='evenodd')
            input.timeline(type='range' max='100' value='0')
            button.sound-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z' clip-rule='evenodd')
      .sin
        .li
          a(href='https://open.spotify.com/album/3jSHDDkwNvjOeui59fI6PQ?highlight=spotify:track:3Jc4L4fKuoyDpe9b17Soi2')
            h3 Miente (1997)
        .music
          audio(src='/static/audio/miente.mp3')
          .controls
            button.player-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z' clip-rule='evenodd')
            input.timeline(type='range' max='100' value='0')
            button.sound-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z' clip-rule='evenodd')
      .sin
        .li
          a(href='https://open.spotify.com/album/3jSHDDkwNvjOeui59fI6PQ?highlight=spotify:track:3Jc4L4fKuoyDpe9b17Soi2')
            h3 Revolución (1997)
        .music
          audio(src='/static/audio/revol.mp3')
          .controls
            button.player-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z' clip-rule='evenodd')
            input.timeline(type='range' max='100' value='0')
            button.sound-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z' clip-rule='evenodd')
      .sin
        .li
          a(href='https://open.spotify.com/album/3jSHDDkwNvjOeui59fI6PQ?highlight=spotify:track:3Jc4L4fKuoyDpe9b17Soi2')
            h3 Lluvia Cae (1997)
        .music
          audio(src='/static/audio/lluvia.mp3')
          .controls
            button.player-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z' clip-rule='evenodd')
            input.timeline(type='range' max='100' value='0')
            button.sound-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z' clip-rule='evenodd')
      .sin
        .li
          a(href='https://open.spotify.com/album/3DWm5mRGgDkBBQ8BH4TYIB?highlight=spotify:track:5bYw6PI3uwvfcNXKCAO84C')
            h3 Esperanza (1998)
        .music
          audio(src='/static/audio/espe.mp3')
          .controls
            button.player-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z' clip-rule='evenodd')
            input.timeline(type='range' max='100' value='0')
            button.sound-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z' clip-rule='evenodd')
      .sin
        .li
          a(href='https://open.spotify.com/album/3DWm5mRGgDkBBQ8BH4TYIB?highlight=spotify:track:5bYw6PI3uwvfcNXKCAO84C')
            h3 Nunca Te Olvidaré (1998)
        .music
          audio(src='/static/audio/nunca.mp3')
          .controls
            button.player-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z' clip-rule='evenodd')
            input.timeline(type='range' max='100' value='0')
            button.sound-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z' clip-rule='evenodd')
      .sin
        .li
          a(href='https://open.spotify.com/album/183XphT974zDxwM5QxETET?highlight=spotify:track:2bbeNsFmjZqdoDhjLsKNWe')
            h3 Bailamos (1999)
        .music
          audio(src='/static/audio/bailam.mp3')
          .controls
            button.player-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z' clip-rule='evenodd')
            input.timeline(type='range' max='100' value='0')
            button.sound-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z' clip-rule='evenodd')
      .sin
        .li
          a(href='https://open.spotify.com/album/183XphT974zDxwM5QxETET?highlight=spotify:track:2bbeNsFmjZqdoDhjLsKNWe')
            h3 Rhythm Divine (1999)
        .music
          audio(src='/static/audio/rhythm.mp3')
          .controls
            button.player-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z' clip-rule='evenodd')
            input.timeline(type='range' max='100' value='0')
            button.sound-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z' clip-rule='evenodd')
      .sin
        .li
          a(href='https://open.spotify.com/album/183XphT974zDxwM5QxETET?highlight=spotify:track:2bbeNsFmjZqdoDhjLsKNWe')
            h3 Be with You (1999)
        .music
          audio(src='/static/audio/bewith.mp3')
          .controls
            button.player-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z' clip-rule='evenodd')
            input.timeline(type='range' max='100' value='0')
            button.sound-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z' clip-rule='evenodd')
      .sin
        .li
          a(href='https://open.spotify.com/album/183XphT974zDxwM5QxETET?highlight=spotify:track:2bbeNsFmjZqdoDhjLsKNWe')
            h3 You're My #1 (1999)
        .music
          audio(src='/static/audio/no1.mp3')
          .controls
            button.player-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z' clip-rule='evenodd')
            input.timeline(type='range' max='100' value='0')
            button.sound-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z' clip-rule='evenodd')
      .sin
        .li
          a(href='https://open.spotify.com/album/183XphT974zDxwM5QxETET?highlight=spotify:track:2bbeNsFmjZqdoDhjLsKNWe')
            h3 Could I Have This Kiss Forever (1999)
        .music
          audio(src='/static/audio/could.mp3')
          .controls
            button.player-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z' clip-rule='evenodd')
            input.timeline(type='range' max='100' value='0')
            button.sound-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z' clip-rule='evenodd')
      .sin
        .li
          a(href='https://open.spotify.com/album/3DeHyfe2Da8xznvABSfIE5?highlight=spotify:track:1PAgmT6YqGhd6zT9kN9gIo')
            h3 Hero (2001)
        .music
          audio(src='/static/audio/hero.mp3')
          .controls
            button.player-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z' clip-rule='evenodd')
            input.timeline(type='range' max='100' value='0')
            button.sound-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z' clip-rule='evenodd')
    #cont2.contt
      .sin
        .li
          a(href='https://open.spotify.com/album/3DeHyfe2Da8xznvABSfIE5?highlight=spotify:track:1PAgmT6YqGhd6zT9kN9gIo')
            h3 Escape (2001)
        .music
          audio(src='/static/audio/escape.mp3')
          .controls
            button.player-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z' clip-rule='evenodd')
            input.timeline(type='range' max='100' value='0')
            button.sound-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z' clip-rule='evenodd')
      .sin
        .li
          a(href='https://open.spotify.com/album/3DeHyfe2Da8xznvABSfIE5?highlight=spotify:track:1PAgmT6YqGhd6zT9kN9gIo')
            h3 Love to See You Cry (2001)
        .music
          audio(src='/static/audio/seeu.mp3')
          .controls
            button.player-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z' clip-rule='evenodd')
            input.timeline(type='range' max='100' value='0')
            button.sound-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z' clip-rule='evenodd')
      .sin
        .li
          a(href='https://open.spotify.com/album/045SvC3Y4s8F4BmgZbZ1yt?highlight=spotify:track:68JHnnanM4ju7cFzFhz3l9')
            h3 To Love A Woman (with Lionel Richie) (2001)
        .music
          audio(src='/static/audio/toloveawoman.mp3')
          .controls
            button.player-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z' clip-rule='evenodd')
            input.timeline(type='range' max='100' value='0')
            button.sound-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z' clip-rule='evenodd')
      .sin
        .li
          a(href='https://open.spotify.com/album/4yZ94VdhoJGQMz6aNUlcc0?highlight=spotify:track:2pOkvQHdkBmIicUQNKMH8A')
            h3 Mentiroso (2002)
        .music
          audio(src='/static/audio/menti.mp3')
          .controls
            button.player-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z' clip-rule='evenodd')
            input.timeline(type='range' max='100' value='0')
            button.sound-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z' clip-rule='evenodd')
      .sin
        .li
          a(href='https://open.spotify.com/album/4yZ94VdhoJGQMz6aNUlcc0?highlight=spotify:track:2pOkvQHdkBmIicUQNKMH8A')
            h3 Quizás (2002)
        .music
          audio(src='/static/audio/quizas.mp3')
          .controls
            button.player-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z' clip-rule='evenodd')
            input.timeline(type='range' max='100' value='0')
            button.sound-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z' clip-rule='evenodd')
      .sin
        .li
          a(href='https://open.spotify.com/album/0CuSXTQ9lMv0gvnrISpk0L?highlight=spotify:track:1BKyLZtjWz9QfHrTgYtg9r')
            h3 Addicted (2003)
        .music
          audio(src='/static/audio/addicted.mp3')
          .controls
            button.player-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z' clip-rule='evenodd')
            input.timeline(type='range' max='100' value='0')
            button.sound-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z' clip-rule='evenodd')
      .sin
        .li
          a(href='https://open.spotify.com/album/3ywEbeCdgfrvmQ4EpLxrem')
            h3 Not In Love (2004)
        .music
          audio(src='/static/audio/notin.mp3')
          .controls
            button.player-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z' clip-rule='evenodd')
            input.timeline(type='range' max='100' value='0')
            button.sound-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z' clip-rule='evenodd')
      .sin
        .li
          a(href='https://open.spotify.com/album/0M0XBQbhYbyhPvT6TQterr')
            h3 Do You Know? (The Ping Pong Song) (2007)
        .music
          audio(src='/static/audio/doyou.mp3')
          .controls
            button.player-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z' clip-rule='evenodd')
            input.timeline(type='range' max='100' value='0')
            button.sound-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z' clip-rule='evenodd')
      .sin
        .li
          a(href='https://open.spotify.com/album/6nokJTCkg6CVxVeeQEQsZL?highlight=spotify:track:6S18su3fmCpLzBsJCQWovx')
            h3 Somebody's Me (2007)
        .music
          audio(src='/static/audio/somebodyme.mp3')
          .controls
            button.player-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z' clip-rule='evenodd')
            input.timeline(type='range' max='100' value='0')
            button.sound-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z' clip-rule='evenodd')
      .sin
        .li
          a(href='https://open.spotify.com/album/5OclHTGwAZgx1xQfXLJUhJ')
            h3 Tired of Being Sorry (2007)
        .music
          audio(src='/static/audio/tiredof.mp3')
          .controls
            button.player-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z' clip-rule='evenodd')
            input.timeline(type='range' max='100' value='0')
            button.sound-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z' clip-rule='evenodd')
      .sin
        .li
          a(href='https://open.spotify.com/album/6Z8Sri222WnHywCGPzwL0e')
            h3 Can You Hear Me (2008)
        .music
          audio(src='/static/audio/canuhear.mp3')
          .controls
            button.player-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z' clip-rule='evenodd')
            input.timeline(type='range' max='100' value='0')
            button.sound-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z' clip-rule='evenodd')
      .sin
        .li
          a(href='https://open.spotify.com/album/1Cf7DCBl4oYf7EE5qiVdQT?highlight=spotify:track:6MR8mnfkA1NxBouJNgt07z')
            h3 Away (2008)
        .music
          audio(src='/static/audio/away.mp3')
          .controls
            button.player-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z' clip-rule='evenodd')
            input.timeline(type='range' max='100' value='0')
            button.sound-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z' clip-rule='evenodd')
      .sin
        .li
          a(href='https://open.spotify.com/album/2PvvCXswfTBnTHDg3GIh9p')
            h3 ¿Dónde Están Corazón? (2008)
        .music
          audio(src='/static/audio/dondeestan.mp3')
          .controls
            button.player-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z' clip-rule='evenodd')
            input.timeline(type='range' max='100' value='0')
            button.sound-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z' clip-rule='evenodd')
    #cont3.contt
      .sin
        .li
          a(href='https://open.spotify.com/album/15MlHvYMv66nRuNKG68gC1')
            h3 Lloro Por Ti (2008)
        .music
          audio(src='/static/audio/lloro.mp3')
          .controls
            button.player-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z' clip-rule='evenodd')
            input.timeline(type='range' max='100' value='0')
            button.sound-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z' clip-rule='evenodd')
      .sin
        .li
          a(href='https://open.spotify.com/album/6iLsxfdEyvIVoblkaKgLuW')
            h3 Takin' Back My Love (ft Ciara) (2008)
        .music
          audio(src='/static/audio/takin.mp3')
          .controls
            button.player-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z' clip-rule='evenodd')
            input.timeline(type='range' max='100' value='0')
            button.sound-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z' clip-rule='evenodd')
      .sin
        .li
          a(href='https://open.spotify.com/album/5JNhQFH8HMKQWP4SITzdoc?highlight=spotify:track:4PHX6bpHDxiR9RGzAKWcyk')
            h3 Cuando Me Enamoro (ft Juan Luis Guerra) (2010)
        .music
          audio(src='/static/audio/cuando.mp3')
          .controls
            button.player-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z' clip-rule='evenodd')
            input.timeline(type='range' max='100' value='0')
            button.sound-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z' clip-rule='evenodd')
      .sin
        .li
          a(href='https://open.spotify.com/album/5JNhQFH8HMKQWP4SITzdoc?highlight=spotify:track:4PHX6bpHDxiR9RGzAKWcyk')
            h3 I Like It (ft Pitbull) (2010)
        .music
          audio(src='/static/audio/ilikeit.mp3')
          .controls
            button.player-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z' clip-rule='evenodd')
            input.timeline(type='range' max='100' value='0')
            button.sound-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z' clip-rule='evenodd')
      .sin
        .li
          a(href='https://open.spotify.com/album/5JNhQFH8HMKQWP4SITzdoc?highlight=spotify:track:7HacCTm33hZYYN8DXpCYuG')
            h3 Heartbeat (ft Nicole Scherzinger) (2010)
        .music
          audio(src='/static/audio/hearbeat.mp3')
          .controls
            button.player-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z' clip-rule='evenodd')
            input.timeline(type='range' max='100' value='0')
            button.sound-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z' clip-rule='evenodd')
      .sin
        .li
          a(href='https://open.spotify.com/album/5JNhQFH8HMKQWP4SITzdoc?highlight=spotify:track:7HacCTm33hZYYN8DXpCYuG')
            h3 No Me Digas Que No (2010)
        .music
          audio(src='/static/audio/nomedigas.mp3')
          .controls
            button.player-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z' clip-rule='evenodd')
            input.timeline(type='range' max='100' value='0')
            button.sound-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z' clip-rule='evenodd')
      .sin
        .li
          a(href='https://open.spotify.com/album/5JNhQFH8HMKQWP4SITzdoc?highlight=spotify:track:7HacCTm33hZYYN8DXpCYuG')
            h3 Tonight (I'm Lovin' You) (2010)
        .music
          audio(src='/static/audio/tonight.mp3')
          .controls
            button.player-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z' clip-rule='evenodd')
            input.timeline(type='range' max='100' value='0')
            button.sound-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z' clip-rule='evenodd')
      .sin
        .li
          a(href='https://open.spotify.com/album/5JNhQFH8HMKQWP4SITzdoc?highlight=spotify:track:7HacCTm33hZYYN8DXpCYuG')
            h3 Dirty Dancer (2010)
        .music
          audio(src='/static/audio/dirty.mp3')
          .controls
            button.player-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z' clip-rule='evenodd')
            input.timeline(type='range' max='100' value='0')
            button.sound-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z' clip-rule='evenodd')
      .sin
        .li
          a(href='https://open.spotify.com/album/5JNhQFH8HMKQWP4SITzdoc?highlight=spotify:track:7HacCTm33hZYYN8DXpCYuG')
            h3 Ayer (2010)
        .music
          audio(src='/static/audio/ayer.mp3')
          .controls
            button.player-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z' clip-rule='evenodd')
            input.timeline(type='range' max='100' value='0')
            button.sound-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z' clip-rule='evenodd')
      .sin
        .li
          a(href='https://open.spotify.com/album/7pPGcOsBGole3gAgcBe35w')
            h3 I Like How It Feels (ft Pitbull and The WAV.s) (2011)
        .music
          audio(src='/static/audio/ilikehow.mp3')
          .controls
            button.player-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z' clip-rule='evenodd')
            input.timeline(type='range' max='100' value='0')
            button.sound-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z' clip-rule='evenodd')
      .sin
        .li
          a(href='https://open.spotify.com/album/2Ajt6YvwMxgISHQjDuPrBX')
            h3 Finally Found You (ft Sammy Adams) (2012)
        .music
          audio(src='/static/audio/finally.mp3')
          .controls
            button.player-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z' clip-rule='evenodd')
            input.timeline(type='range' max='100' value='0')
            button.sound-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z' clip-rule='evenodd')
      .sin
        .li
          a(href='https://open.spotify.com/album/7up2PEgyn9Z4eY50RUM8Q4')
            h3 Turn the Night Up (2013)
        .music
          audio(src='/static/audio/turn.mp3')
          .controls
            button.player-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z' clip-rule='evenodd')
            input.timeline(type='range' max='100' value='0')
            button.sound-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z' clip-rule='evenodd')
    #cont4.contt
      .sin
        .li.li2
          a(href='https://open.spotify.com/album/0XvooigT84GmEe1wQi0DDm?highlight=spotify:track:0dUTd8EiD5RhQo1ehWIbAZ')
            h3 Loco (ft Romeo Santos) (2013)
        .music.m
          audio(src='/static/audio/loco.mp3')
          .controls
            button.player-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z' clip-rule='evenodd')
            input.timeline(type='range' max='100' value='0')
            button.sound-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z' clip-rule='evenodd')
      .sin
        .li.li2
          a(href='https://open.spotify.com/album/0XvooigT84GmEe1wQi0DDm?highlight=spotify:track:0dUTd8EiD5RhQo1ehWIbAZ')
            h3 Bailando (ft Descemer Bueno and Gente de Zona) (2014)
        .music.m
          audio(src='/static/audio/bailando.mp3')
          .controls
            button.player-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z' clip-rule='evenodd')
            input.timeline(type='range' max='100' value='0')
            button.sound-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z' clip-rule='evenodd')
      .sin
        .li.li2
          a(href='https://open.spotify.com/album/0XvooigT84GmEe1wQi0DDm?highlight=spotify:track:0dUTd8EiD5RhQo1ehWIbAZ')
            h3 I'm a Freak (ft Pitbull) (2014)
        .music.m
          audio(src='/static/audio/freak.mp3')
          .controls
            button.player-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z' clip-rule='evenodd')
            input.timeline(type='range' max='100' value='0')
            button.sound-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z' clip-rule='evenodd')
      .sin
        .li.li2
          a(href='https://open.spotify.com/album/2dBgWXp41imu2zBNv9oFxZ?highlight=spotify:track:7qCAVkHWZkF44OzOUKf8Cr')
            h3 El Perdón (with Nicky Jam) (2015)
        .music.m
          audio(src='/static/audio/elperdon.mp3')
          .controls
            button.player-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z' clip-rule='evenodd')
            input.timeline(type='range' max='100' value='0')
            button.sound-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z' clip-rule='evenodd')
      .sin
        .li.li2
          a(href='https://open.spotify.com/album/5Ouuxga807CPAs81lSloBJ')
            h3 Duele el Corazón (ft Wisin) (2016)
        .music.m
          audio(src='/static/audio/duele.mp3')
          .controls
            button.player-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z' clip-rule='evenodd')
            input.timeline(type='range' max='100' value='0')
            button.sound-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z' clip-rule='evenodd')
      .sin
        .li.li2
          a(href='https://open.spotify.com/album/2Ib7wM5qXKXDzZFhzNQ7TG')
            h3 Súbeme la Radio (featuring Descemer Bueno and Zion &amp; Lennox) (2017)
        .music.m
          audio(src='/static/audio/subeme.mp3')
          .controls
            button.player-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z' clip-rule='evenodd')
            input.timeline(type='range' max='100' value='0')
            button.sound-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z' clip-rule='evenodd')
      .sin
        .li.li2
          a(href='https://open.spotify.com/album/5phDwq3mKZdLiFxyRpgcCV')
            h3 El Baño (ft Bad Bunny) (2018)
        .music.m
          audio(src='/static/audio/elbano.mp3')
          .controls
            button.player-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z' clip-rule='evenodd')
            input.timeline(type='range' max='100' value='0')
            button.sound-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z' clip-rule='evenodd')
      .sin
        .li.li2
          a(href='https://open.spotify.com/album/3TL5gf4LdplqYzShLmbSpy')
            h3 Nos Fuimos Lejos (with Descemer Bueno featuring El Micha) (2018)
        .music.m
          audio(src='/static/audio/nos.mp3')
          .controls
            button.player-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z' clip-rule='evenodd')
            input.timeline(type='range' max='100' value='0')
            button.sound-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z' clip-rule='evenodd')
      .sin
        .li.li2
          a(href='https://open.spotify.com/album/2xnmgrPrmOIbHvMMSEOoBP')
            h3 Move to Miami (ft Pitbull) (2018)
        .music.m
          audio(src='/static/audio/move.mp3')
          .controls
            button.player-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z' clip-rule='evenodd')
            input.timeline(type='range' max='100' value='0')
            button.sound-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z' clip-rule='evenodd')
      .sin
        .li.li2
          a(href='https://open.spotify.com/album/2xnmgrPrmOIbHvMMSEOoBP')
            h3 Después Que Te Perdí (with Jon Z) (2019)
        .music.m
          audio(src='/static/audio/despe.mp3')
          .controls
            button.player-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z' clip-rule='evenodd')
            input.timeline(type='range' max='100' value='0')
            button.sound-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z' clip-rule='evenodd')
      .sin
        .li.li2
          a(href='https://open.spotify.com/album/4JMaZaBdFCVJDpEAkNb4nZ')
            h3 Me Pasé (ft Farruko) (2021)
        .music.m
          audio(src='/static/audio/mepase.mp3')
          .controls
            button.player-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z' clip-rule='evenodd')
            input.timeline(type='range' max='100' value='0')
            button.sound-button
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#3D3132')
                path(fill-rule='evenodd' d='M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z' clip-rule='evenodd')
script(src='/static/singles.js')
