doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Tour-Enrique
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Economica&family=Montserrat+Alternates:wght@100&family=PT+Mono&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Economica&family=Montserrat+Alternates:wght@100&family=PT+Mono&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Economica&family=Montserrat+Alternates:wght@100&family=PT+Mono&family=PT+Sans&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Economica&family=Montserrat+Alternates:wght@100&family=Open+Sans+Condensed:wght@300&family=PT+Mono&family=PT+Sans&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='/static/tour.css')
  link(rel="shortcut icon", href="/static/img/fav.jpg", type="image/x-icon")
.cont1
  .icons
    a(href='https://www.instagram.com/enriqueiglesias/')
      img#im1(src='/static/img/insta2.png' alt='')
    a(href='https://www.facebook.com/Enrique')
      img#im2(src='/static/img/fb.png' alt='')
    a(href='https://open.spotify.com/artist/7qG3b048QCHVRO5Pv1T5lw?si=8qklDBAsQcC9Q_jlnOvG7A&nd=1')
      img#im3(src='/static/img/sp2.png' alt='')
    a(href='https://music.apple.com/us/artist/enrique-iglesias/90895')
      img#im4(src='/static/img/app2.png' alt='')
    a(href='https://twitter.com/enriqueiglesias')
      img#im5(src='/static/img/tw.png' alt='')
    a(href='https://www.youtube.com/user/EnriqueIglesiasPlay')
      img#im6(src='/static/img/yt2.png' alt='')
  .h
    h1 ei
  .index
    a#s1(href='/')
      span
        | Home
    a#s2(href='/tour')
      span
        | Tour
    a#s3(href='/discography')
      span
        | Discography
    a#s4(href='/register')
      span
        | Register
  .tt
    h1#tt
      | TOURS
.cont2
  .tour
    .to1
      .t1 13th November 2021
      .t2 Sacramento, CA, United States
      .t3 Golden Center
      .t14
        button.b Click Here
    .to2
      .t1 14th November 2021
      .t2 San Jose, CA, United States
      .t3 SAP Center at San Jose 
      .t14
        button.b Click Here
    .to3
      .t1 18th November 2021
      .t2 Los Angeles, CA, United States
      .t3 Staples center
      .t14
        button.b Click Here
    .to4
      .t1 19th November 2021
      .t2 Los Angeles, CA, United States
      .t3 Staples Center
      .t14
        button.b Click Here
    .to5
      .t1 20th November 2021
      .t2 Anaheim, CA, United States
      .t3 Honda Center
      .t14
        button.b Click Here
    .to6
      .t1 12th February 2022
      .t2 Sochi, Russia
      .t3 Bolshoy Ice Dome
      .t14
        button.b Click Here
    .to7
      .t1 14th February 2022
      .t2 Moskva, Russia
      .t3 VTB Arena Dinamo
      .t14
        button.b Click Here
    .to8
      .t1 16th February 2022
      .t2 &Lstrok;&oacute;d&zacute;, Poland
      .t3 Atlas Arena 
      .t14
        button.b Click Here
    .to9
      .t1 18th February 2022
      .t2 Prague, Czech Republic
      .t3 O2 Arena 
      .t14
        button.b Click Here
