doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Music Videos-Enrique
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Economica&family=Montserrat+Alternates:wght@100&family=PT+Mono&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Economica&family=Montserrat+Alternates:wght@100&family=PT+Mono&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Economica&family=Montserrat+Alternates:wght@100&family=PT+Mono&family=PT+Sans&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='/static/music_videos.css')
  link(rel="shortcut icon", href="/static/img/fav.jpg", type="image/x-icon")
.container
  .icons
    a(href='https://www.instagram.com/enriqueiglesias/')
      img#im1(src='/static/img/insta2.png' alt='')
    a(href='https://www.facebook.com/Enrique')
      img#im2(src='/static/img/fb.png' alt='')
    a(href='https://open.spotify.com/artist/7qG3b048QCHVRO5Pv1T5lw?si=8qklDBAsQcC9Q_jlnOvG7A&nd=1')
      img#im3(src='/static/img/sp2.png' alt='')
    a(href='https://music.apple.com/us/artist/enrique-iglesias/90895')
      img#im4(src='/static/img/app2.png' alt='')
    a(href='https://twitter.com/enriqueiglesias')
      img#im5(src='/static/img/tw.png' alt='')
    a(href='https://www.youtube.com/user/EnriqueIglesiasPlay')
      img#im6(src='/static/img/yt2.png' alt='')
  .h
    h1 ei
  .index
    a#s1(href='/')
      span
        | Home
    a#s2(href='/tour')
      span
        | Tour
    a#s3(href='/discography')
      span
        | Discography
    a#s4(href='/register')
      span
        | Register
  .vi
    h1 MUSIC VIDEOS
  .contt
    #cont1.cont
      li.vid1
        a(href='https://www.youtube.com/watch?v=fge78Gv0f1E') Si T&uacute; Te Vas (1995)
      li.vid1
        a(href='https://www.youtube.com/watch?v=3DV57Y4tEAM') Experiencia Religiosa (1996)
      li.vid1
        a(href='https://www.youtube.com/watch?v=BwebQuR2nwU') Trapecista (1996)
      li.vid1
        a(href='https://www.youtube.com/watch?v=nYWcy7z0QmU') Enamorado Por Primera Vez (1997)
      li.vid1
        a(href='https://www.youtube.com/watch?v=mWYFv2NvbFs') S&oacute;lo En Ti (1997)
      li.vid1
        a(href='https://www.youtube.com/watch?v=Aw_uVY0xS8E') Esperanza (1998)
      li.vid1
        a(href='https://www.youtube.com/watch?v=pRrjt4htXlE') Nunca Te Olvidar&eacute; (1998)
      li.vid1
        a(href='https://www.youtube.com/watch?v=s75QkcPBMGE&t=112s') Ruleta Rusa (1999)
      li.vid1
        a(href='https://www.youtube.com/watch?v=5sye_VxmNZA') Bailamos (1999)
      li.vid1
        a(href='https://www.youtube.com/watch?v=UZrzOZaI7UE') Rhythm Divine (1999)
      li.vid1
        a(href='https://www.youtube.com/watch?v=yYedTpODkx8') Be With You (2000)
      li.vid1
        a(href='https://www.youtube.com/watch?v=zsfj9j0kjoU') Could I Have This Kiss Forever (with Whitney Houston) (2000) 
      li.vid1
        a(href='https://www.youtube.com/watch?v=Quvxt_v4A9g') Sad Eyes (2000)
      li.vid1
        a(href='https://www.youtube.com/watch?v=koJlIGDImiU') Hero (2001)
      li.vid1
        a(href='https://www.youtube.com/watch?v=9mQJaXwGPlg') Escape (2002)
      li.vid1
        a(href='https://www.youtube.com/watch?v=6T7bHq9Ebg0') Don&apos;t Turn Off The Lights (2002)
    #cont2.cont
      li.vid
        a(href='https://www.youtube.com/watch?v=LWdwkdYPz-o') Love To See You Cry (2002)
      li.vid
        a(href='https://www.youtube.com/watch?v=8MkClXv2vKs') Maybe (2002)
      li.vid
        a(href='https://www.youtube.com/watch?v=-gzvhBuczCk') Mentiroso (2002)
      li.vid
        a(href='https://www.youtube.com/watch?v=bt9GRGcLmSQ') Quiz&aacute;s (2002)
      li.vid
        a(href='https://www.youtube.com/watch?v=fyNPWxU2OKc') Para Qu&eacute; La Vida (2003)
      li.vid
        a(href='https://www.youtube.com/watch?v=36Dp1L8Fgh4') To Love A Woman (with Lionel Richie) (2003)
      li.vid
        a(href='https://www.youtube.com/watch?v=2M-2BFS6Jxc') Addicted (2003)
      li.vid
        a(href='https://www.youtube.com/watch?v=njKo3l0MKQ0') Not In Love (ft. Kelis) (2004)
      li.vid
        a(href='https://www.youtube.com/watch?v=UqON44CLaQM') Do You Know? (The Ping Pong Song) (2007)
      li.vid
        a(href='https://www.youtube.com/watch?v=gv9hrQzU0cA') Somebody&apos;s Me (2007)
      li.vid
        a(href='https://www.youtube.com/watch?v=X86S5oZzzh4') Tired of Being Sorry (2007)
      li.vid
        a(href='https://www.youtube.com/watch?v=TNsOqVBzrYo') Push (featuring Lil Wayne / Prophet) (2008)
      li.vid
        a(href='https://www.youtube.com/watch?v=sKwG5SM8sKk') Can You Hear Me (2008)
      li.vid
        a(href='https://www.youtube.com/watch?v=CZdafl_in88') Away (ft. Sean Garrett) (2008)
      li.vid
        a(href='https://www.youtube.com/watch?v=r1pHDoFsHXc') &iquest;D&oacute;nde Est&aacute;n Coraz&oacute;n? (2008)
      li.vid
        a(href='https://www.youtube.com/watch?v=jEqCWvgnwq0') Lloro Por Ti (ft Wisin &amp; Yandel) (2008)
    #cont3.cont
      li.vid3
        a(href='https://www.youtube.com/watch?v=w55Nib4uf1U') Takin&apos; Back My Love (ft Ciara) (2009)
      li.vid3
        a(href='https://www.youtube.com/watch?v=9Aul3Nqa5wE') Gracias A Ti (Remix, with Wisin &amp; Yandel) (2009)
      li.vid3
        a(href='https://www.youtube.com/watch?v=4DO8GsIYfhQ') Cuando Me Enamoro (featuring Juan Luis Guerra) (2010)
      li.vid3
        a(href='https://www.youtube.com/watch?v=X9_n8jakvWU') I Like It (ft. Pitbull) (2010)
      li.vid3
        a(href='https://www.youtube.com/watch?v=NVk4vENObiI') Heartbeat (ft Nicole Scherzinger) (2010)
      li.vid3
        a(href='https://www.youtube.com/watch?v=zyqt2avPkoA') No Me Digas Que No (ft Wisin &amp; Yandel) (2010)
      li.vid3
        a(href='https://www.youtube.com/watch?v=Jx2yQejrrUE') Tonight I&apos;m Lovin&apos; You (ft Ludacris and DJ Frank E) (2010)
      li.vid3
        a(href='https://www.youtube.com/watch?v=vHJAUuicC0Q') Dirty Dancer (ft. Usher and Lil Wayne) (2011)
      li.vid3
        a(href='https://www.youtube.com/watch?v=ak4YJjkdFRY') Ayer (2011)
      li.vid3
        a(href='https://www.youtube.com/watch?v=klk8QPcfFYQ') I Like How It Feels (ft. Pitbull &amp; The WAV.s) (2011)
      li.vid3
        a(href='https://www.youtube.com/watch?v=wFz1F438490') Naked (with Dev) (2011)
      li.vid3
        a(href='https://www.youtube.com/watch?v=f_EiqPp-vBM') Finally Found You (ft. Sammy Adams) (2012)
      li.vid3
        a(href='https://www.youtube.com/watch?v=mHxOltrMfX8') Turn The Night Up (2013)
      li.vid3
        a(href='https://www.youtube.com/watch?v=RSyUWjftHrs') Loco (ft Romeo Santos) (2013)
    #cont4.cont
      li.vid4
        a(href='https://www.youtube.com/watch?v=sC2nElyx7Ds') Heart Attack (2013)
      li.vid4
        a(href='https://www.youtube.com/watch?v=tLcfAnN2QgY') El Perdedor (ft. Marco Antonio Sol&iacute;s) (2014)
      li.vid4
        a(href='https://www.youtube.com/watch?v=YUiVIPgJA0o') I&apos;m A Freak (ft. Pitbull) (2014)
      li.vid4
        a(href='https://www.youtube.com/watch?v=NUsoVlDFqZg') Bailando (ft. Descemer Bueno and Gente de Zona) (2014)
      li.vid4
        a(href='https://www.youtube.com/watch?v=HfszInbOhd8') Let Me Be Your Lover (ft.Pitbull) (2015)
      li.vid4
        a(href='https://www.youtube.com/watch?v=m3We7p78XTo') Noche y Dia (ft. Yandel and Juan Magan) (2015)
      li.vid4
        a(href='https://www.youtube.com/watch?v=hXI8RQYC36Q') El Perd&oacute;n (with Nicky Jam) (2015)
      li.vid4
        a(href='https://www.youtube.com/watch?v=6X3SAs-5GUE') Messin&apos; Around (with Pitbull) (2016)
      li.vid4
        a(href='https://www.youtube.com/watch?v=xFutjZEBTXs') Duele El Corazon (ft. Wisin) (2016)
      li.vid4
        a(href='https://www.youtube.com/watch?v=9sg-A-eS6Ig') S&uacute;beme La Radio (ft. Descemer Bueno and Zion &amp; Lennox) (2017)
      li.vid4
        a(href='https://www.youtube.com/watch?v=gu9_m0vm7fM') El Ba&ntilde;o (ft. Bad Bunny) (2018)
      li.vid4
        a(href='https://www.youtube.com/watch?v=tYDmvYhQ6wI') Nos Fuimos Lejos (with Descemer Bueno ft. El Micha) (2018)
      li.vid4
        a(href='https://www.youtube.com/watch?v=l884wKofd54') Move to Miami (ft. Pitbull) (2018)
      li.vid4
        a(href='https://www.youtube.com/watch?v=XX9UMA7tp1g') Despu&eacute;s Que Te Perd&iacute; (with Jon Z) (2019)
      li.vid4
        a(href='https://www.youtube.com/watch?v=JE9urbO7bNU') ME PASE (ft Farruko) (2021)
      li.vid4
        a(href='https://www.youtube.com/watch?v=CRYixDvIKcg') PENDEJO (2021)
